<template name="DefaultNavAside">
	<nav>
		<ul class="nav nav-sidebar">
			{{#each organisationsAssigned}}
			{{#with joinWithOrganisation}}
			<li>
				<a href="" data-toggle="collapse" data-target="#organisation-{{_id}}">{{name}}{{rank}} <button type="button" class="remove-organisation right close" aria-hidden="true">×</button></a>
				<ul class="collapse in nav organisation" id="organisation-{{_id}}" data-organisation-id="{{organisationId}}">
					<li>
						<a href="" data-toggle="collapse" data-target="#aside-views-{{_id}}">Views</a>
						<ul class="collapse nav" id="aside-views-{{_id}}">
							<li><a href="">All Tasks</a></li>
							<li><a href="">Support</a></li>
						</ul>
					</li>
					<li>
						<a href="" data-toggle="collapse" data-target="#aside-teams-{{_id}}">Teams</a>
						<ul class="collapse nav" id="aside-teams-{{_id}}">
							<li class="new"><input type="text" class="new-team form-control" placeholder="New Team" /></li>
							{{#each teamsInOrganisation}}
							<li><a href="{{pathFor 'team'}}">{{name}}</a></li>
							{{/each}}
						</ul>
					</li>
					<li>
						<a href="" data-toggle="collapse" data-target="#aside-projects-{{_id}}">Projects</a>
						<ul class="collapse nav" id="aside-projects-{{_id}}">
							<li class="new"><input type="text" class="new-project form-control" placeholder="New Project" /></li>
							{{#each projectsInOrganisation}}
							<li><a href="">{{name}}</a></li>
							{{/each}}
						</ul>
					</li>
					<li>
						<a href="" data-toggle="collapse" data-target="#aside-users-{{_id}}">Users</a>
						<ul class="collapse nav" id="aside-users-{{_id}}">
							{{#each usersInOrganisation}}
							{{#with joinWithUser}}
							<li><a href="">{{profile.name}}</a></li>
							{{/with}}
							{{/each}}
						</ul>
					</li>
				</ul>
			</li>
			{{/with}}

			{{/each}}
		</ul>

		<input type="text" class="new-organisation form-control" placeholder="New Organisation" />

	</nav>

</template>