<template name="user">

	<div class="user">
		{{> loginButtons}}
		<br />
		<h1>User!</h1>

		<div class="task-lists column">
			<textarea class="new-task form-control" placeholder="New Task"></textarea>
			<div class="tasks" data-tasks-list="user-assigned">
				<span class="watermark">Tasks</span>
				{{> taskList tasksAssigned}}
			</div>
		</div>

		{{#each statuses}}
		<div class="column">
			<h4>{{name}}</h4>
			<div class="tasks" data-status-id="{{_id}}" data-tasks-list="user-status">
				<span class="watermark">Tasks</span>
				<span class="info" >Drop chances Status only (no reordering)</span>
				{{#with tasksAssignedStatus _id}}
					{{> taskList}}
				{{/with}}
			</div>
		</div>
		{{/each}}

	</div>

</template>